.addUserForm input{
    display: block;
    width: 100%;
    text-align: left;
}

.addUserForm label{
    font-size: 1.1rem;
    font-weight: bold;
}

.formButton{
    display: flex;
    background-color:rebeccapurple;
    padding: 0.5rem 1rem;
    border: 0px;
    margin-top: 1rem;
}

.addUserForm{
    background-color: white;
    width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
}